html, body {
    font-family: monospace;
    color: white;
    background-color: black;
}

#cc-container {
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-size: 12vh;
  line-height: 14.2vh;
  color: white;
  font-family: monospace;
}
#prev4-asr-target,
#prev3-asr-target,
#prev2-asr-target,
#prev-asr-target {
  display: block;
  width: 100vw !important;
  text-align: left !important;
  padding-left: 9.2rem;
}

#live-asr-target {
  font-family: monospace;
  background-color: black;
  display: flex !important;
  align-items: flex-start !important;
  width: 100vw !important;
  text-align: left !important;
  padding: 0 !important;
  overflow: visible !important;
}

#live-asr-target::before {
  display: inline;
  content: ">>";
  padding-right: 2rem;
}

#cc-frame {
  border: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
